* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    color: black;
    color: rgb(52, 51, 51);
    color: rgb(121, 131, 224);
    color: rgb(238, 194, 84);
    color: rgb(39, 48, 129);
}


body {
    background-color: black;
    margin: 40px 30px;
    padding: 15px;
}


header {
    background-color: rgb(238, 194, 84);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: solid rgb(121, 131, 224);
}


.logo {
    width: 50px;
}



h1 {
    color: white;
    font-size: 25px;
}

.comienzaquiz {
    margin-top: 40px;
    width: 100%;
    height: 800px;
    padding: 150px 150px;
    text-align: center;
}

h4 {
    color: rgb(121, 131, 224);
    font-size: 18px;
}

img {
    width: 100px;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pregunta {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90em;
    object-fit: cover;
    background-image: url("./assets/rockfondo.jpg");
    /* Ruta de la imagen */
    background-size: cover;
    /* Cubrir completamente el contenedor */
    background-position: center;
    /* Centrar la imagen */
    border: 2px solid rgb(238, 194, 84);
    border-radius: 0.1em;
    font-size: 16px;
}

.tituloPreguntas {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 0.1em;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedorRespuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.respuesta {
    background-color: rgb(121, 131, 224);
    border: 4px solid black;
    width: 100%;
    height: 90px;
    margin:3px;
}


label {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


button {
    background-color: rgb(238, 194, 84);
    color: black;
    margin-top: 30px;
    width: 50%;
    height: 3em;
    border: 5px solid rgb(121, 131, 224) ;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

h3 {
    color: rgb(121, 131, 224);
    font-size: 12px;
    margin-top: 30px;
}


@media only screen and (min-width: 700px) {

    .contenedorRespuestas {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pregunta {
        padding: 20px;
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }


    .respuesta {
        width: 34%;
        margin-top: 20px;
    }
   

    h1 {
        font-size: 40px;
    }

    .logo {
        width: 70px;
    }


    .tituloPreguntas {
        width: 50%;
    }

}



@media only screen and (min-width: 1200px) {


    .pregunta {
        padding: 20px;
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }

    .contenedorRespuestas {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }



    h1 {
        font-size: 50px;
    }


    h3 {
        font-size: 20px;
    }


    .logo {
        width: 80px;
    }


    .tituloPreguntas {
        width: 55%;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: white;
        color: black;
        border-radius: 0.1em;
    }


    .respuesta {
        border: 0.05 em white;
        margin:4px;
    }


    h3 {
        font-size: 12px;
    }


}